@model task.Models.Student
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3 my-3 border">
    <h1>Student Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-3">
        
            @Html.DisplayNameFor(model => model.GradeNames)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.GradeNames.GName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SubjectNames)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SubjectNames.SubName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Marks)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Marks)
        </dd>
    </dl>
    <div>
        <a class="btn btn-primary" asp-action="AddOrEdit" asp-route-StudentId="@Model.StudentId">Edit</a>
        <a class="btn btn-danger" asp-action="Index">Back</a>
    </div>
</div>